<div class="navbar" role="navigation">
  <div class="container-fluid">

      <ul class="nav navbar-nav navbar-right">
        <li class="home"><a href="/">phant</a></li>
        <li class="make-stream">
          <a href="/streams/make"><span class="glyphicon glyphicon-plus-sign"></a>
        </li>
      </ul>
    </div>
</div>
