<ul class="pager">
  <li class="previous {{#hasPreviousPage}}{{else}}disabled{{/hasPreviousPage}}"><a href="/streams{{#hasPreviousPage}}?page={{previousPage}}{{/hasPreviousPage}}"">&larr; Older</a></li>
  <li class="next {{#hasNextPage}}{{else}}disabled{{/hasNextPage}}"><a href="/streams{{#hasNextPage}}?page={{nextPage}}{{/hasNextPage}}">Newer &rarr;</a></li>
</ul>
