<!doctype html>

<html lang="en">

  <head>

    <title>phant {{#if title}} - {{title}}{{/if}}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/css/phant.css" rel="stylesheet">
    <script src="/third_party/jquery/dist/jquery.min.js"></script>
    <script src="/third_party/bootstrap/dist/bootstrap.min.js"></script>
    <script src="/third_party/handlebars/handlebars.min.js"></script>

  </head>

  <body>

    {{> header}}

    {{> messages}}

    <main class="container-fluid">
      {{{body}}}
    </main>

    {{> footer}}

  </body>

</html>


