<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <h1>{{response.stream.title}}</h1>
    <p class="lead">{{response.stream.description}}</p>
    <p><strong>Fields: </strong><span ng-repeat="field in response.stream.fields">{{field}} </span>
    <p><strong>Tags: </strong><span ng-repeat="tag in response.stream.tags">{{tag}} </span>
    <hr>

  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-1">

    <h4>Public URL</h4>
    <pre>/streams/{{response.publicKey}}</pre>

    <h4>Private Key</h4>
    <pre>{{response.privateKey}}</pre>
    <p>Keep this key secret, and in a safe place.&nbsp; <em>You will not be able to retrieve it.</em></p>

  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <h4>Logging using query string params</h4>
    <pre>/streams/log/{{response.privateKey}}?{{sampleQueryString(response.stream.fields)}}</pre>

  </div>
</div>

