<div class="container">

  <div class="jumbotron">

    <div class="container">

      <h1>Welcome to phant.</h1>

      <p>phant saves your bits.</p>

      <p><a class="btn btn-primary btn-lg" href="/streams/make" role="button">Create a Stream »</a></p>

    </div>

  </div>

</div>

