<div class="jumbotron">

  <div class="container-fluid">

    <h1>Welcome to phant.</h1>

    <p>phant saves your bits.</p>

    <p><a class="btn btn-primary btn-lg" href="/streams/make" role="button">Get Started »</a></p>

  </div>

</div>
