<div class="container">

  <div class="jumbotron">

    <div class="container">

      <h1>Welcome to phant</h1>

      <p class="lead">
        phant is a platform for pushing information from
        gadgets to the web. It is in the early stages of development.
      </p>

      <p>
        <a class="btn btn-primary btn-lg" href="/streams/make" role="button">
          Create a Stream »
        </a>
      </p>

    </div>

  </div>

</div>

<div class="row">

  <div class="col-md-10 col-md-offset-1">

    <h3>Why are you building this?</h3>

    <p>
      We want to bring a dose of reality to the Internet of Things hype.
      <a href="http://data.sparkfun.com">data.sparkfun.com</a> will be a free,
      robust service for use with all of your projects, while the underlying
      software will be released soon for you to install on the server of your choice.
    </p>

    <h3>What types of projects would benefit from this service?</h3>

    <p>
      Almost anything. Your weather station in the backyard. A classroom
      of kids working on science experiments. A community concerned with
      pollution and crowdsourcing data collection. The weight of your pug's
      food dish. You get the idea. If your project can send an http request,
      you can push data out to our servers.
    </p>

    <h3>How much data can I push?</h3>

    <p>
      You can push new information to your stream once every 10s. Each stream
      has a maximum of 50mb. After you hit the limit, the oldest data will be erased.
      (These limitations can be removed if installed on your own server).
    </p>

    <h3>Can I publish a stream anonymously?</h3>

    <p>
      Yes. But all streams are public and can be accessed by anyone with the url.
    </p>

    <h3>Is my data safe?</h3>

    <p>
      Absolutely not. We are still hacking on the core functionality. Feel free
      to kick the tires, but be aware that your data might be erased at any time.
      After our official launch, we will have clear parameters for how long the data
      will remain on our servers.
    </p>

    <h3>When will the code be released?</h3>

    <p>
      Momentarily.  Want to play around?  If you’re familiar with
      <a href="https://nodejs.org">Node.js</a>, try:
    </p>

    <pre class="col-md-4 col-sm-6">
      $ npm install -g phant
      $ phant
      $ phant-server
    </pre>

  </div>

</div>

