{{#each streams}}

  <div class="row stream">
    <div class="content">
      <p>
      <span class="stream-title"><a href="/streams/{{publicKey}}">{{title}}</a></span>
      <span class="small">last push: {{ago last_push}}</span>

      {{> renderTags this}}</p>

    </div>
  </div>

{{/each}}

{{>pager this}}
