<div class="row">

  <div class="col-md-4 col-md-offset-1">

    <h1>Create a Stream</h1>

    <form role="form" action="/streams" method="POST">

      <div class="form-group">
        <label>Title</label>
        <input type="text" name="title" class="form-control" placeholder="My Data Feed" required>
      </div>

      <div class="form-group">
        <label>Description</label>
        <textarea name="description" class="form-control" rows="6" placeholder="Weather sensor at 3332 Uniontown Rd..." required></textarea>
      </div>

      <div class="form-group">

        <label>Show in Public Stream List?</label>

        <div>

          <label class="radio-inline">
            <input type="radio" name="hidden" value="0" checked> Visible
          </label>

          <label class="radio-inline">
            <input type="radio" name="hidden" value="1"> Hidden
          </label>

        </div>

      </div>

      <div class="form-group">
        <label>Fields</label>
        <input type="text" name="fields" class="form-control" placeholder="wind, humidity, temp, rain" required>
        <p class="help-block">comma separated.</p>
      </div>

      <div class="form-group">
        <label>Tags</label>
        <input type="text" name="tags" class="form-control" placeholder="weather, sensor, maryland">
        <p class="help-block"><strong>not required.</strong>&nbsp; comma separated.</p>
      </div>

      <input type="hidden" name="check" name="">

      <button type="submit" class="btn btn-primary">Create!</button>

    </form>

  </div>

</div>
